manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
  cores = '2'
  memory = '2'
  help = false
  profile = false

  // input
  nano = 'data/some.fasta'
  illumina = ''
  list = false

  // parameters
  variable1 = 'variable1'
  variable2 = 'variable2'

  // databases
  busco = 'fungi_odb9'

  // workflow adjustments

  // folder structure
  output = 'results'
}

profiles {
    standard { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/local.config' }

    conda { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/conda.config' }

    gcloudNAME1 { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://BUCKET/DATABASE-FOLDER/' 
        bucketDir = 'gs://BUCKET/WORKDIR-FOLDER'
        google { project = 'PROJECT-ID'; zone = '' }  
        includeConfig 'configs/googlegenomics.config' }

    gcloudNAME2 { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://BUCKET/DATABASE-FOLDER/' 
        bucketDir = 'gs://BUCKET/WORKDIR-FOLDER'
        google { project = 'PROJECT-ID'; zone = '' }  
        includeConfig 'configs/googlegenomics.config' }

    nanozoo { 
        params.cloudProcess = true
        params.cloudDatabase = ''
        bucketDir = ''
        google { project = ''; zone = '' }         
        includeConfig 'configs/googlegenomics.config' }
}