manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
  cores = '2'
  memory = '2'
  help = false
  profile = false

  // input
  nano = ''
  illumina = ''
  list = false
  yml = ''

  // parameters
  basic = false
  skipval = false
  wastewater_sludge = false
  params.template = ''

  xml = false

  // folder structure
  output = 'results'
}

profiles {
    standard { 
        params.cloudProcess = false
        includeConfig 'configs/local.config' }

    conda { 
        params.cloudProcess = false
        includeConfig 'configs/conda.config' }

    gcloudNAME1 { 
        params.cloudProcess = true
        bucketDir = 'gs://BUCKET/WORKDIR-FOLDER'
        google { project = 'PROJECT-ID'; zone = '' }  
        includeConfig 'configs/googlegenomics.config' }

    gcloudNAME2 { 
        params.cloudProcess = true
        bucketDir = 'gs://BUCKET/WORKDIR-FOLDER'
        google { project = 'PROJECT-ID'; zone = '' }  
        includeConfig 'configs/googlegenomics.config' }

    nanozoo { 
        params.cloudProcess = true
        bucketDir = ''
        google { project = ''; zone = '' }         
        includeConfig 'configs/googlegenomics.config' }
}